In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,classification_report

In [2]:
Tv_df=pd.read_csv(r'C:\Users\NAYUDU.B\projdatascience\ML\datasets\TV_final.csv')

In [3]:
Tv_df.head(3)

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
0,TOSHIBA,Ultra HD LED,55,37999,54990,VIDAA,4.3
1,TCL,QLED Ultra HD,55,52999,129990,Android,4.4
2,realme,HD LED,32,13999,17999,Android,4.3

In [4]:
Tv_df.isna().sum()

Brand                 0
Resolution            0
Size                  0
Selling Price         0
Original Price        0
Operating System     11
Rating              220
dtype: int64

In [5]:
'''
in this data frame the null values is operating system and rating 
dorp the oprating system col
and fill null value the mean of the rating in rating col
'''
Tv_df.fillna(Tv_df['Rating'].mean(),inplace=True)
Tv_df.drop(['Operating System'],axis=1)
# print(Tv_df.dtypes)

       Brand     Resolution  Size   Selling Price  Original Price  Rating
0    TOSHIBA   Ultra HD LED     55          37999           54990     4.3
1       TCL   QLED Ultra HD     55          52999          129990     4.4
2    realme          HD LED     32          13999           17999     4.3
3        Mi          HD LED     32          14999           19999     4.4
4    realme          HD LED     32          12999           21999     4.3
..       ...            ...    ...            ...             ...     ...
907    SONY     Full HD LED     43          44999           57900     4.4
908    SONY     Full HD LED     40          41499           51900     4.6
909    SONY    Ultra HD LED     65         149990          184990     4.3
910    SONY          HD LED     32          32900           32900     4.4
911    SONY     Full HD LED     43          56900           56900     4.6

[912 rows x 6 columns]

In [6]:
Tv_df.shape

(912, 7)

In [7]:
X=Tv_df.drop(['Brand','Operating System','Resolution'],axis=1)
Y=Tv_df['Resolution']

In [8]:
# finding Decission tress and KNN 
class Decission():
    def __init__(self,Tv_df,X,Y):
        self.Tv_df=Tv_df
        self.X=X
        self.Y=Y

    def decission(self):
        self.X=X
        self.Y=Y
        X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
        decission=DecisionTreeClassifier()
        decission.fit(X_train,Y_train)
        Y_pred=decission.predict(X_test)
        print(f"decision tree accuracy_score : {accuracy_score(Y_test,Y_pred)*100}%\n")
        print(f"classification_report\n{classification_report(Y_test,Y_pred)}\n")

    def KNN(self):
        X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)
        knn=KNeighborsClassifier()
        knn.fit(X_train,Y_train)
        Y_pred=knn.predict(X_test)
        print(f"\nKNN_accuracy_score : {accuracy_score(Y_test,Y_pred)*100}%\n",)
        print(f"\nclassification_report\n{classification_report(Y_test,Y_pred)}")
  
D_obj=Decission(Tv_df,X,Y)
D_obj.decission()
D_obj.KNN()

decision tree accuracy_score : 75.40983606557377%

classification_report
               precision    recall  f1-score   support

  Full HD LED       0.75      0.53      0.62        45
       HD LED       0.83      0.98      0.90        41
QLED Ultra HD       0.33      0.21      0.26        14
 Ultra HD LED       0.76      0.86      0.80        83

     accuracy                           0.75       183
    macro avg       0.67      0.64      0.65       183
 weighted avg       0.74      0.75      0.74       183



KNN_accuracy_score : 73.77049180327869%


classification_report
               precision    recall  f1-score   support

  Full HD LED       0.71      0.51      0.60        49
       HD LED       0.85      0.89      0.87        44
QLED Ultra HD       0.00      0.00      0.00        10
 Ultra HD LED       0.71      0.89      0.79        80

     accuracy                           0.74       183
    macro avg       0.57      0.57      0.56       183
 weighted avg       0.71      0.74      0.71       183